@charset "utf-8";
/* CSS Document */

@media (max-width: 1450px) {
  .website-grid {
    grid-template-columns: 1fr;
    gap: 150px;
  }
  .section-websites {
    padding: 100px 200px;
  }

  .disapear-appear1 {
    display: none;
  }

  .disapear-appear2 {
    display: block;
  }
}

@media (max-width: 1350px) {
  .section-websites {
    padding: 100px 200px;
  }

  .image-container {
    height: 500px;
  }
}


@media (max-width: 1000px) {
  .section-websites {
    padding: 80px 100px;
  }

  .website-grid {
    gap: 100px;
  }

  .Projects-Grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 800px) {

  .website-grid {
    gap: 50px;
  }
}

@media (max-width: 700px) {
  .tag {
    font-size: 13px;
  }

  .website-title {
    font-size: 30px;
  }

  .section-websites {
    padding: 20px 60px;
  }

  .nav-container .logo {
    font-size: 20px;
    z-index: 2;
  }

  .home canvas {
    height: 50%;
  }

  .hamburger-menu,
  .material-symbols-outlined {
    font-size: 20px;
  }

  .nav-ul {
    flex-direction: column;
    gap: 10px;
  }

  .hamburger-menu {
    display: block;
    z-index: 2;
  }

  .header {
    color: #020711;
    position: fixed; /* Changed from relative to fixed */
    top: 0; /* Ensure it sticks to the top */
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it stays on top of other content */
  }

  .nav {
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    padding-top: 6rem;
    align-items: center;
    text-align: center;
    transition: 0.15s ease-in-out;
    padding-bottom: 1000px;
  }

  .nav.active {
    right: 0;
  }

  .nav.active a {
    border-style: none none solid none;
    border-width: thin;
  }
}

@media (max-width: 600px) {
  .home h1 {
    font-size: 48px;
  }
  .section-websites {
    padding: 10px 20px;
  }

  .image-container {
    height: 400px;
  }
}

@media (max-width: 500px) {
  .Projects{
    padding-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .home h1 {
    font-size: 36px;
  }
}
