@charset "utf-8";
/* CSS Document */

body {
  animation: slide 50s linear infinite alternate;
  background-image: url("https://img.freepik.com/premium-vector/camomile-blue-background-pattern-cute-seamless-print-naive-style-children-s-textiles-wallpapers-postcards-vector-illustration-hand-drawn-doodle_501610-191.jpg");
  background-repeat: repeat;
}

@keyframes slide {
  to {
    background-position: 0 50%;
  }
}

body, html, .home {
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Serif';
  letter-spacing: 1.2px;
  line-height: 1.5;
  font-weight: 700;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* navigation*/
header {
  /* background: #ffffff; */
  color: black;
  padding: 20px 0;
  position: fixed; 
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(10px);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.nav-container .logo {
  font-size: 2rem; 
  font-weight: bold;  
}

.nav {
  display: flex;
}

.nav-link a{
  text-decoration: none;
  color: #020711;
}

.nav-ul {
  margin: 0 auto;
  list-style: none;
}

.nav-container, .nav-ul {
  display: flex;
  gap: 1.6rem;
  font-size: 1.2rem;
}

.hamburger-menu {
  display: none; /* Hidden by default for larger screens */
  cursor: pointer;
}

.nav-container .logo {
  font-size: 20px;
  z-index: 2;   
}

.home canvas {
  height: 50%;
}

.hamburger-menu, .material-symbols-outlined {
  font-size: 20px;
}

.nav-ul {
  flex-direction: column;
  gap: 10px;
}

.hamburger-menu {
  display: block;
  z-index: 2;
}

.header {
  color: #020711;
  position: fixed; /* Changed from relative to fixed */
  top: 0; /* Ensure it sticks to the top */
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.nav {
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  padding-top: 6rem;
  align-items: center;
  text-align: center;
  background-color: #fff;
  transition: 0.15s ease-in-out;
  padding-bottom: 170px;
}

.nav.active {
  right: 0;
}

.nav.active a{
  color: #020711;
  border-style: none none solid none;
  border-width: thin;

}

/*home*/

.home {
  overflow: hidden;
  touch-action: pan-up;
  color: #020711;
  text-shadow: 0 0 7px #FEFEFE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.home a {
  text-decoration: none;
  color: #fff;
}

.home canvas {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*About Me*/
.About-me{
  padding: 100px 200px;
}

.About-Me-Grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.About-Me-Header{
  font-size: 35px;
  text-align: center;
  padding-bottom: 30px;
  color: #020711;
  text-shadow: 0 0 5px #FEFEFE;
}

.About-Me-Text{
  font-size: 23px;
  color: #020711;
  text-shadow: 0 0 5px #FEFEFE;
  font-weight: 900;

}

.About-Me-Grid-Disapere-Reapere{
  display: none;
}

.image-of-me{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.About-Image-Disapere-Reapere2{
  display: none;
}

.About-Me-Grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.About-Me-Header2{
  font-size: 35px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #020711;
  text-shadow: 0 0 5px #FEFEFE;
}

.style-hr{
  background-color: #020711;
  border: 0pt none;
  color: #020711;
  height: 1px;
  margin: 0 auto;
  text-align: center;
}

.image-of-me2{
margin-left: auto;
margin-right: auto;
width: 90%;
height: auto;
}

.About-Me-Grid3{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 30px;
}

.Socials{
  text-align: center;
  text-shadow: 0 0 5px #FEFEFE;

}

.ion-icon {
  color: #020711;
  height: 50px;
  width: 50px;
  text-align: center;
}

